body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: ghostwhite;
    margin: 0;
    padding: 0;
}

p {
  margin: 30px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: black;
    background-color: ghostwhite;
    padding: 30px;
    margin-top: 0;
}

h2 {
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: ghostwhite;
    padding: 20px;
    margin: 30;
}

footer {
    background-color: ghostwhite;
    color: black;
    text-align: center;
    padding: 20px;
    margin: 30;
}

#project_title {
    color: yellow;
    background-color:rgb(43, 180, 218);
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}

#home_body {
    background-color: ghostwhite;
}

.home_images {
    display:flex;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    justify-content: space-evenly;
}

#logo {
    max-width: 40%;
    width: auto;
    height: auto;
    padding: 5%;
}


.navbar {
    background-color: ghostwhite;
    width: 100%;
    height: 5%;
}

#navlist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    width: 90%;
    text-align: center;    
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color:orange;
}

a:active {
    text-decoration: none;
    color: blue;
}

#abstract {
    width: 80%;
    margin: auto;
    color: rgb(20,8,15);
    text-align: left;
    justify-content: space-evenly;

}

#abstract div {
    padding: 5px;
}


#team {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    text-align: left;
    justify-content: space-evenly;
}

.team_member {
    padding: 1rem;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    background-color: rgb(170, 169, 169);
}
