

body {
    font-family: Arial, sans-serif;
    color: rgb(227, 226, 226);
    background-color: rgb(3, 21, 10);
    margin: 0;
    padding: 0;
}


nav {
    background-color: rgb(24, 29, 28);
    color: rgb(0, 0, 0);
}

p {
  text-indent: 30px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(24, 29, 28);
    padding: 30px;
    margin: 30;
}

h2 {
    font-size: 20px;
    text-align: start;
    color: rgb(255, 255, 255);
    background-color: rgb(24, 29, 28);
    padding: 20px;
    margin: 30;
}

footer {
    background-color: rgb(24, 29, 28);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    margin: 30;
}